body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.container h1{
    color: #2FA91A !important;
   }

   .jumbotron{
    background-color: #2FA91A !important;
   }